<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="tests"> <!-- parallel="tests" - This is for parallel execution-->
	<listeners>
     	<listener class-name="Listeners.Listeners"/>
  	</listeners>
  <test thread-count="5" name="TestTwo">
    <classes>
      <class name="Tests.TwoTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="TestThree">
    <classes>
      <class name="Tests.ThreeTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="TestFour">
    <classes>
      <class name="Tests.FourTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="LoginTest">
    <classes>
      <class name="Tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
